<div class="flex h-screen flex-col items-center justify-center">
    <div class="w-full py-4 px-4 border-t-2 bg-white rounded shadow border-blue-500">
        <h1 class="text-lg mb-4">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <div [ngClass]="{'border-red-500': username.invalid, 'border-blue-500': !username.invalid}"
                    class="flex items-center border-b transition-colors duration-500 ease-in-out">
                    <svg class="fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 20 20">
        
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10 9C11.6569 9 13 7.65685 13 6C13 4.34315 11.6569 3 10 3C8.34315 3 7 4.34315 7 6C7 7.65685 8.34315 9 10 9ZM3 18C3 14.134 6.13401 11 10 11C13.866 11 17 14.134 17 18H3Z" />
                    </svg>
                    <input
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
                        type="text" formControlName="username" aria-label="Username">
                </div>
                <label [ngClass]="{'text-red-500': username.invalid}"
                    class="text-xs -my-2 transition-colors duration-200 ease-in-out">Username</label>
            </div>
            <div class="mb-4">
                <div [ngClass]="{'border-red-500': password.invalid, 'border-blue-500': !password.invalid}"
                    class="flex items-center border-b transition-colors duration-200 ease-in-out">
                    <svg class="fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">

                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5 9V7C5 4.23858 7.23858 2 10 2C12.7614 2 15 4.23858 15 7V9C16.1046 9 17 9.89543 17 11V16C17 17.1046 16.1046 18 15 18H5C3.89543 18 3 17.1046 3 16V11C3 9.89543 3.89543 9 5 9ZM13 7V9H7V7C7 5.34315 8.34315 4 10 4C11.6569 4 13 5.34315 13 7Z"
                            />
                    </svg>
                    <input
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
                        type="password" formControlName="password"
                        aria-label="Password">
                </div>
                <label [ngClass]="{'text-red-500': password.invalid }"
                    class="text-xs -my-2 transition-colors duration-200 ease-in-out">Password</label>
            </div>
            <button type="submit" class="px-4 py-1 mr-3 bg-blue-500 rounded text-white">Submit</button>
        </form>
    </div>
</div>