@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

/*! purgecss start ignore */
zxing-scanner {
  max-height: 25vh;
  width: 100%;
  object-fit: contain;
}
/*! purgecss end ignore */
