<div class="flex justify-center mb-4">
    <div class="w-full rounded overflow-hidden bg-white shadow">
        <div class="px-4 py-4">
            <!-- title and caret -->
            <div class="border-b border-gray-400 -mx-4 px-4 pb-4 mb-4 flex justify-between">
                <h2 class="text-lg font-bold text-blue-600">Add Employee</h2>
            </div>
            <!-- Add employee -->
            <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
                <div class="mb-2">
                    <label class="text-xs">Username</label>
                    <div class="flex items-center px-2 py-1 border border-gray-400 rounded">
                        <input formControlName="username" type="text" class="w-full appearance-none bg-transparent border-none focus:outline-none"
                            placeholder="Ex. Jsmith">
                    </div>
                </div>
                <div class="mb-2">
                    <label class="text-xs">Pin</label>
                    <div class="flex items-center px-2 py-1 border border-gray-400 rounded">
                        <input formControlName="password" type="password" class="w-full appearance-none bg-transparent border-none focus:outline-none">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="text-xs">Email</label>
                    <div class="flex items-center px-2 py-1 border border-gray-400 rounded">
                        <input formControlName="email" type="email" class="w-full appearance-none bg-transparent border-none focus:outline-none"
                            placeholder="Ex. employee@company.com">
                    </div>
                </div>
                <button type="submit" class="px-4 py-1 mr-3 bg-green-500 rounded text-white">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="flex justify-center mb-4">
    <div class="w-full rounded overflow-hidden bg-white shadow">
        <div class="px-4 py-4">
            <!-- title and caret -->
            <div class="border-b border-gray-400 -mx-4 px-4 pb-4 mb-4 flex justify-between">
                <h2 class="text-lg font-bold text-blue-600">Employees</h2>
            </div>
            <!-- list employees -->
            <ul *ngFor="let employee of employees$ | async">
                <li class="mb-2 flex items-center justify-between w-full border-b border-gray-400">
                    {{employee.username}}
                    <button (click)="deleteEmployee(employee.id)">
                        <svg class="fill-current text-red-500" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">

                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9 2C8.62123 2 8.27497 2.214 8.10557 2.55279L7.38197 4H4C3.44772 4 3 4.44772 3 5C3 5.55228 3.44772 6 4 6L4 16C4 17.1046 4.89543 18 6 18H14C15.1046 18 16 17.1046 16 16V6C16.5523 6 17 5.55228 17 5C17 4.44772 16.5523 4 16 4H12.618L11.8944 2.55279C11.725 2.214 11.3788 2 11 2H9ZM7 8C7 7.44772 7.44772 7 8 7C8.55228 7 9 7.44772 9 8V14C9 14.5523 8.55228 15 8 15C7.44772 15 7 14.5523 7 14V8ZM12 7C11.4477 7 11 7.44772 11 8V14C11 14.5523 11.4477 15 12 15C12.5523 15 13 14.5523 13 14V8C13 7.44772 12.5523 7 12 7Z"
                                />
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="flex justify-center mb-4">
    <div class="w-full rounded overflow-hidden bg-white shadow">
        <div class="px-4 py-4">
            <!-- title and caret -->
            <div class="border-b border-gray-400 -mx-4 px-4 pb-4 mb-4 flex justify-between">
                <h2 class="text-lg font-bold text-blue-600">Incident Reporting</h2>
            </div>
            <!-- Incident lookup-->
            <form class="border-b border-gray-400 -mx-4 px-4 pb-4 mb-4" [formGroup]="lookupForm" (ngSubmit)="lookupRange()">
                <div class="mb-2">
                    <label class="text-xs">From</label>
                    <div class="flex items-center px-2 py-1 border border-gray-400 rounded">
                        <input formControlName="from" type="datetime-local"
                            class="w-full appearance-none bg-transparent border-none focus:outline-none">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="text-xs">To</label>
                    <div class="flex items-center px-2 py-1 border border-gray-400 rounded">
                        <input formControlName="to" type="datetime-local"
                            class="w-full appearance-none bg-transparent border-none focus:outline-none">
                    </div>
                </div>
                <button type="submit" class="px-4 py-1 mr-3 bg-green-500 rounded text-white">Search</button>
            </form>
            <!-- list -->
            <ul *ngFor="let visit of lookupResults$ | async">
                <li class="flex justify-between mb-2">
                    <span class="flex items-center">
                        <svg class="fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 20 20">
                        
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10 9C11.6569 9 13 7.65685 13 6C13 4.34315 11.6569 3 10 3C8.34315 3 7 4.34315 7 6C7 7.65685 8.34315 9 10 9ZM3 18C3 14.134 6.13401 11 10 11C13.866 11 17 14.134 17 18H3Z" />
                        </svg>
                        {{ visit.name }}
                    </span>
                    <span class="flex items-center">
                        
                        <svg class="fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 20 20">
                            <path
                                d="M2 3C2 2.44772 2.44772 2 3 2H5.15287C5.64171 2 6.0589 2.35341 6.13927 2.8356L6.87858 7.27147C6.95075 7.70451 6.73206 8.13397 6.3394 8.3303L4.79126 9.10437C5.90756 11.8783 8.12168 14.0924 10.8956 15.2087L11.6697 13.6606C11.866 13.2679 12.2955 13.0492 12.7285 13.1214L17.1644 13.8607C17.6466 13.9411 18 14.3583 18 14.8471V17C18 17.5523 17.5523 18 17 18H15C7.8203 18 2 12.1797 2 5V3Z" />
                        </svg>
                        {{ visit.phone | mask: '(000) 000-0000' }}
                    </span>
                </li>

            </ul>
        </div>
    </div>
</div>